<div>

<main>
<h1 class="title">{{title}}</h1>
<h2 class="full-name">{{person.firstName}} {{person.lastName}}</h2>
    <dl>
        <dt class="personId">ID</dt>
        <dd>{{person.id}}</dd>
        <dt class="first-name">First Name</dt>
        <dd>{{person.firstName}}</dd>
        <dt class="last-name">Last Name</dt>
        <dd>{{person.lastName}}</dd>
        <dt class="address">Address</dt>
        <dd>{{person.address}}</dd>
        <dt class="zip">Zip Code</dt>
        <dd>{{person.zip}}</dd>
        <dt class="phone">Phone</dt>
        <dd>{{person.phone}}</dd>
        <dt class="ssn">Social Security Number</dt>
        <dd>{{person.ssn}}</dd>    
    </dl>
</main>
</div>
